<div class="view-container login-page container-fluid">
    <div class="container-fluid">
        <form name="loginForm" class="form-signin" novalidate>
            <div class="text-center">
                <img class="mg-rounded mb-4 pic" src="../../../assets/img/neu.jpg" alt="" width="72" height="72">
            </div>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div class="form-group">
                <label for="username" class="sr-only">Username</label>
                <input ng-model="user.username" type="text" id="username" name="username" class="form-control"
                       placeholder="Username" required
                       autofocus/>
                <div ng-show="loginForm.$submitted && loginForm.username.$invalid"
                     class="error">Username is required
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input ng-model="user.password" type="password" id="password" name="password" class="form-control"
                       placeholder="Password"
                       required/>
                <div ng-show="loginForm.password.$invalid && loginForm.$submitted"
                     class="error">Password is required
                </div>
            </div>

            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit"
                    ng-click="loginForm.$valid && model.login(user)">
                Sign in
            </button>
            <a class="btn btn-lg btn-primary btn-block" ui-sref="app.register">
                Register
            </a>

        </form>
    </div>
</div>

